# Database connection string for PostgreSQL
# Example: postgresql://username:password@localhost:5432/database_name?schema=public
DATABASE_URL="Database connection string for PostgreSQ"
CLERK_PUBLISHABLE_KEY="Your Clerk Public Key"
CLERK_SECRET_KEY="Your Clerk Private Key"
CLERK_WEBHOOK_SIGNING_SECRET="Your Clerk Webhook Secret"

# Optional Server Port Configuration
PORT=5000
